{namespace ipoa=Subugoe\TmplIpoa\ViewHelpers}

<ipoa:linkCSS  file="EXT:tmpl_ipoa/Resources/Public/Css/content.css" />

<div class="footer-hide__helper" id="top">

  <header class="head">
    <div class="head-menubutton">
      <a class="nav__button js-nav-toggle-button" href="#"><i class="fa fa-fw fa-lg fa-bars js-menu-button-icon"></i>Menu</a>
    </div><!--
    --><div class="head-links">
      <ul class="head-links__list">
        <li><a href="#" title="" class="head-links__link"><i class="fa fa-fw fa-lg fa-home"></i><span class="hidden-on-phone"> Startseite</span></a></li>
        <li><a href="#" title="" class="head-links__link"><i class="fa fa-fw fa-lg fa-info"></i><span class="hidden-on-phone"> Kontakt</span></a></li>
        <li><a href="#" title="" class="head-links__link"><i class="fa fa-fw fa-lg fa-sitemap"></i><span class="hidden-on-phone"> Sitemap</span></a></li>
        <li><a href="#search" title="" class="head-links__link"><i class="fa fa-fw fa-lg fa-search"></i><span class="hidden-on-phone"> Suche</span></a></li>
      </ul>
      <a href="#" class="head-language-indicator js-head-language-indicator" title="Click this to see a list of available languages"><i class="fa fa-fw fa-globe fa-lg"></i> DE-DE</a>
    </div><!--
    --><div class="head-language-links js-head-language-links">
      <i class="fa fa-fw fa-lg fa-globe head-language-links-icon"></i>
      <ul class="head-language-links__list">
        <li><a href="#" title="" class="head-language-links__link">AT-DE</a></li>
        <li><a href="#" title="" class="head-language-links__link">AT-EN</a></li>
        <li><a href="#" title="" class="head-language-links__link">CH-DE</a></li>
        <li><a href="#" title="" class="head-language-links__link">CH-EN</a></li>
        <li><a href="#" title="" class="head-language-links__link  head-language-link__link--active">DE-DE</a></li>
        <li><a href="#" title="" class="head-language-links__link">DE-EN</a></li>
      </ul>
    </div><!--
    --><div class="head-logo">
	  <picture>
	          <!--[if IE 9]><video style="display: none;"><![endif]-->
	          <!--<source srcset="img/logo_250.png, img/logo_500.png 2x">-->
	          <!--[if IE 9]></video><![endif]-->
	          <!--<img src="img/logo_250.png" srcset="img/logo_250.png, img/logo_500.png 2x" alt="">-->
	          <f:image alt=""
	                   src="EXT:tmpl_ipoa/Resources/Public/Images/logo_250.png"
	                   />
    </div><!--
    --><div class="head-claim js-responsive-claim-text-size">
      Der freie Zugang zu <br><span class="nobr">wissenschaftlicher Information</span>
    </div><!--
    --><div class="head-pagetitle">
      <h1 class="heading">Allgemeine Informationen</h1>
    </div>
  </header>

  <!-- Nav -->
  <nav class="navigation js-nav" role="navigation">
    <div class="nav__col">
      <strong>Allgemeines</strong>
      <ul class="nav__col__list">
        <li><a href="#" title="" class="nav__col__list-link">Gründe und Vorbehalten</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Geschäftsmodelle</a></li>
        <li><a href="#" title="" class="nav__col__list-link nav__col__list-link--active">Rechtsfragen</a></li>
        <li><a href="#" title="" class="nav__col__list-link">FAQ</a></li>
      </ul>
    </div><!--
    --><div class="nav__col">
      <strong>OA in verschiedenen Fächern</strong>
      <ul class="nav__col__list">
        <li><a href="#" title="" class="nav__col__list-link">Biologie</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Chemie</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Erziehungs<wbr>wissenschaften</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Geowissenschaften</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Geschichts<wbr>wissenschaften</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Geschlechter<wbr>forschung</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Informatik</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Ingenieur<wbr>wissenschaften</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Mathematik</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Medizin</a></li>
      </ul>
    </div><!--
    --><div class="nav__col">
      <strong>Wissenswertes für</strong>
      <ul class="nav__col__list">
        <li><a href="#" title="" class="nav__col__list-link">Autoren</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Herausgeber von Zeitschriften</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Betreiber von Repositorien</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Hochschulleitungen</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Bibliotheken</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Förderorganisationen</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Verlage</a></li>
      </ul>
    </div><!--
    --><div class="nav__col">
      <strong>Community</strong>
      <ul class="nav__col__list">
        <li><a href="#" title="" class="nav__col__list-link">oa-net-work</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Open-Access-Tage</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Internationale Open Access Week</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Mailingliste</a></li>
        <li><a href="#" title="" class="nav__col__list-link">News</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Open-Access-Projekte</a></li>
        <li><a href="#" title="" class="nav__col__list-link">Links</a></li>
      </ul>
    </div>
  <!-- </div> -->
  </nav>
  <!-- END | Nav -->

	<f:render partial="Main.html" />



  <div class="more">
    <div class="more__col">
      <h3>Allgemeines</h3>
      <p class="paragraph">Lorem ipsum, <a href="#" title="" class="more__col__textblock-link">consectetur adipiscing</a> elit. Aliquam luctus magna tellus. Pellentesque augue nisi, porttitor nec commodo vitae, pharetra vitae mi. Phasellus faucibus molestie dapibus. In consectetur quam nec mauris lacinia vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam mi ligula, faucibus a ultrices vitae, pellentesque id nulla.</p>
    </div><!--
    --><div class="more__col">
      <h3>Allgemeines</h3>
      <p class="paragraph">Lorem ipsum dolor sit amut.</p>
      <ul class="more__col__list">
        <li><a href="#" title="" class="more__col__list-link">Gründe und Vorbehalten</a></li>
        <li><a href="#" title="" class="more__col__list-link">Geschäftsmodelle</a></li>
        <li><a href="#" title="" class="more__col__list-link">Rechtsfragen</a></li>
        <li><a href="#" title="" class="more__col__list-link">FAQ</a></li>
      </ul>
      <p class="paragraph">Lorem ipsum dolor sit amut.</p>
    </div><!--
    --><div class="more__col">
      <h3>News</h3>
      <ul class="more__col__list">
        <li><a href="#" title="" class="more__col__list-link">MWK Baden-Württemberg veröffentlicht Konzeptpapier zu E-Science<br>03.09.2014</a></li>
        <li><a href="#" title="" class="more__col__list-link">Berliner Abgeordnetenhaus beschließt Anschub einer Open-Access-Strategie<br>12.08.2014</a></li>
        <li><a href="#" title="" class="more__col__list-link">Universität Konstanz bricht Lizenzverhandlungen mit Elsevier ab<br>03.04.2014</a></li>
        <li><a href="#" title="" class="more__col__list-link">Open-Access-Tage 2014<br>25.02.2014</a></li>
        <li><a href="#" title="" class="more__col__list-link">Petition "gegen die Diskriminierung der Hochschulwissenschaft im Urheberrecht"<br>017.01.2014</a></li>
      </ul>
    </div><!--
    --><div class="more__col">
      <h3>Connect!</h3>
      <p class="paragraph">Open Access in sozialen Netzwerken</p>
      <p class="paragraph"><i class="fa fa-fw fa-lg fa-twitter"></i><a href="#" title="Informationsplattform Open Access auf Twitter" class="more__col__textblock-link">Twitter</a>, <i class="fa fa-fw fa-lg fa-facebook"></i><a href="#" title="Informationsplattform Open Access auf Facebook" class="more__col__textblock-link">Facebook</a></p>
    </div>
  </div>

	<f:render partial="Solr.html" />

</div>

<div class="footer-hide">
  {% include footer-hide__content.html %}
</div>
